<TableTemplate Items="Shopping">
    <TableHeader>
        <th>Name</th>
        <th>Quantity</th>
        <th>Total</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Product.Name</td>
        <td>@context.Quantity @GetUnitsMeasurement(context.Product.ProductMeasurement)</td>
        <td>
            @context.Total @CurrencySymbol(CurrentCurrency.CurType)
            <br>
            @context.Price @CurrencySymbol(CurrentCurrency.CurType)/@GetUnitsMeasurement(context.Product.ProductMeasurement)
        </td>
    </RowTemplate>
</TableTemplate>