@page "/statistics"
@using FinanceTracking.Enums
@using FinanceTracking.Extensions

<EditForm Model="@this" OnValidSubmit="@UpdateStatistics">
    <div class="form-group">
        <div class="form-check">
            <InputCheckbox @bind-Value="IsCustomDatesPeriod" class="form-check-input" id="customDatesPeriod" />
            <label class="form-check-label" for="customDatesPeriod">
                Change type
            </label>
        </div>
    </div>

    @if (IsCustomDatesPeriod)
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">From</span>
            </div>
            <InputDate id="from" @bind-Value="From" class="form-control" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">To</span>
            </div>
            <InputDate id="to" @bind-Value="To" class="form-control" />
        </div>
    }
    else
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Type</span>
            </div>
            <InputSelect @bind-Value="PeriodType" class="custom-select" @onchange="@UpdateStatistics">
                @foreach (var periodType in Enum.GetValues(typeof(StatisticsPeriodType)))
                    {
                    <option value="@periodType">@(((StatisticsPeriodType)periodType).ToText(Count))</option>
                    }
            </InputSelect>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Count</span>
            </div>
            <InputNumber id="count" @bind-Value="Count" Min="1" class="form-control" disabled="@((int)PeriodType % 10 == 1)" />
        </div>
    }

    <button type="submit" class="btn btn-primary btn-lg btn-block" disabled="@IsLoading">Refresh data</button>
</EditForm>

<br>
<p class="text-center">
    <h4>
        <strong>
            @PeriodDescription
        </strong>
    </h4>
</p>

<div class="alert @(CurrentStatistic.ExpensesDifference > 0 ? "alert-success" : CurrentStatistic.ExpensesDifference == 0 ? "alert-light" : "alert-danger")" role="alert">
    <h3 class="alert-heading text-center">
        Current expenses:
        <strong>
            @CurrentStatistic.CurrentPeriodExpenses.ToString("0.##") @(CurrentStatistic.ExpensesDifference > 0 ? "⇧" : CurrentStatistic.ExpensesDifference < 0 ? "⇩" : "~")
        </strong>
    </h3>
    <p class="text-center">
        Difference with average expanses for same period:
        <strong>
            @CurrentStatistic.ExpensesDifference.ToString("0.##").Replace("-", string.Empty)
        </strong>
    </p>
</div>

